  .site-header--top ~ .site-content .gm-map--aside {
    bottom: 0;
  }
  .site-header--bottom ~ .site-content .gm-map--aside {
    top: 0;
  }
.site-content {
  -webkit-transition: 0.7s 0.6s transform cubic-bezier(0.86, 0, 0.07, 1);
  transition: 0.7s 0.6s transform cubic-bezier(0.86, 0, 0.07, 1);
}
.site-content--center .container {
  min-height: calc(100vh - 78px - 40px - 72px);
}
  .site-content--center .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-content--center .container {
    min-height: calc(100vh - 78px - 80px - 72px);
  }
  .site-content--center .container {
    min-height: calc(100vh - 78px - 80px - 100px);
  }
.site-header--top + .site-content {
  padding-top: 72px;
}
  .site-header--top + .site-content {
    padding-top: 100px;
  }
.site-header--bottom + .site-content {
  padding-bottom: 72px;
}
  .site-header--bottom + .site-content {
    padding-bottom: 100px;
  }
  html.touch .site-header--bottom + .site-content {
    padding-bottom: 0;
    padding-top: 72px;
  }
  .site-layout--horizontal .site-content {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    min-width: 100%;
  }
.preloader-is--active .site-content {
  overflow: hidden;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.preloader--no-transform .site-content {
  overflow: auto;
  -webkit-transform: none;
          transform: none;
}
  .scroll-is--active .site-layout--horizontal .site-content {
    -webkit-transition: -webkit-transform 1200ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: -webkit-transform 1200ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 1200ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 1200ms cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 1200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
.site-layout--landing .site-content {
  text-align: center;
}
  .site-layout--landing .site-content {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
.site-layout--landing-error .site-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.site-layout--landing-error .site-content > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.site-content--product-single {
  background-color: #f2f3f7;
}
.site-content.login-page {
  text-align: center;
}
.site-content.login-page h2 {
  width: 100%;
  text-align: center;
}
  .site-content.login-page h2 {
    max-width: 320px;
  }
  .site-content.login-page h2 {
    max-width: 440px;
  }
.site-content.login-page .row {
  min-height: calc(100vh - 72px);
}
  .site-content.login-page .row {
    min-height: calc(100vh - 100px);
  }
.site-content.login-page .row > * {
  padding: 48px 34px;
}
  .site-content.login-page .row > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: calc(100vh - 72px);
  }
  .site-content.login-page .row > * {
    min-height: calc(100vh - 100px);
  }
.site-content.login-page .row > *:nth-child(odd) {
  background-color: #fff;
}
  .site-content.login-page .row > *:nth-child(odd) {
    padding: 78px 180px 78px 50px;
  }
  .site-content.login-page .row > *:nth-child(odd) > * {
    margin-left: auto;
  }
  .site-content.login-page .row > *:nth-child(odd) {
    padding-right: 260px;
  }
.site-content.login-page .row > *:nth-child(even) {
  background-color: #f7f8fa;
}
  .site-content.login-page .row > *:nth-child(even) {
    padding: 78px 50px 78px 180px;
  }
  .site-content.login-page .row > *:nth-child(even) > * {
    margin-right: auto;
  }
  .site-content.login-page .row > *:nth-child(even) {
    padding-left: 260px;
  }
.site-layout--default .site-content, .site-layout--default-inverse .site-content {
  min-height: 100vh;
}
.site-header--top + .site-content.page {
  padding-top: calc(40px + 72px);
  padding-bottom: 78px;
}
  .site-header--top + .site-content.page {
    padding-top: calc(80px + 72px);
  }
  .site-header--top + .site-content.page {
    padding-top: calc(80px + 100px);
  }
.site-header--bottom + .site-content.page {
  padding-top: 78px;
  padding-bottom: calc(40px + 72px);
}
  .site-header--bottom + .site-content.page {
    padding-bottom: calc(80px + 72px);
  }
  .site-header--bottom + .site-content.page {
    padding-bottom: calc(80px + 100px);
  }
  html.touch .site-header--bottom + .site-content.page {
    padding-top: calc(100px + 72px);
    padding-bottom: 78px;
  }
  html.touch .site-header--bottom + .site-content.page {
    padding-top: calc(40px + 72px);
  }
  .site-header--top ~ .site-content .page-thumbnail {
    bottom: 0;
  }
  .site-header--bottom ~ .site-content .page-thumbnail {
    top: 0;
  }
  .site-header--top ~ .site-content .post--single .post__thumbnail {
    bottom: 0;
  }
  .site-header--bottom ~ .site-content .post--single .post__thumbnail {
    top: 0;
  }
  .site-header--top ~ .site-content .post__sharing {
    bottom: 0;
  }
  .site-header--bottom ~ .site-content .post__sharing {
    top: 0;
  }
  .site-header--top ~ .site-content .product--single .product__thumbnail {
    bottom: 0;
  }
  .site-header--bottom ~ .site-content .product--single .product__thumbnail {
    top: 0;
  }
.team-info-page.site-content,
.player-info-page.site-content {
  padding-top: 30px;
  padding-bottom: 72px;
}
  .team-info-page.site-content,
.player-info-page.site-content {
    padding-top: 0;
    padding-bottom: 0;
  }
